<div class="content-wrapper">

  <section class="content-header">
    <a  href="/admin/dashboard1" >
      <i class="fa fa-dashboard">Dashboard</i>
    </a>

        <h2 class="text-dark">Profile</h2>

  </section>

<section class="content">
    <div class="row">
        <div class="col-xl-12">
            <ul>
                <li><strong>Nome:</strong> {{auth.getUser().name}}</li>
                <li><strong>E-mail:</strong> {{auth.getUser().email}}</li>
                <li><strong>Criado em:</strong> {{auth.getUser().created_at}}</li>
            </ul>
        </div>
    </div>
  </section>
</div>
